@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&family=Mulish&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Lato:ital,wght@0,100;0,300;0,400;1,300&family=Mulish&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #8e44ad;
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, 0.7);
    --light-bg: #eee;
    --border: 0.1rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
  }
  
  * {
    font-family: "Oxanium","Baloo Bhai 2", "Roboto", "Mulish", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    /* border: none; */
    text-decoration: none;
    /* background-color: #333A44; */
  
    /* #A8BBB0 */
  }
   /* html {  */
    /* font-size: 62.5%; */
    /* overflow: hidden; */
   /* }  */

   html { 
    overflow: hidden;
    overflow-y: scroll;
   } 
  
  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background-color: var(--white);
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: var(--light-black);
  }
  @keyframes fadeIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  }
  

  /* Custom CSS for the range input */
.range-slider::-webkit-slider-thumb {
  appearance: none;
  width: 11px; /* Thumb width */
  height: 11px; /* Thumb height */
  background-color: #ffffff; /* Your custom color - bg-purple-600 */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.range-slider::-moz-range-thumb {
  width: 11px; /* Thumb width */
  height: 11px; /* Thumb height */
  background-color: #ffffff; /* Your custom color - bg-purple-600 */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.range-slider::-ms-thumb {
  width: 11px; /* Thumb width */
  height: 11px; /* Thumb height */
  background-color: #ffffff; /* Your custom color - bg-purple-600 */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover state */
.range-slider:hover::-webkit-slider-thumb {
  background-color: #ffffff; /* Darker purple for hover state */
}

.range-slider:hover::-moz-range-thumb {
  background-color: #ffffff; /* Darker purple for hover state */
}

.range-slider:hover::-ms-thumb {
  background-color: #ffffff; /* Darker purple for hover state */
}

/* Full-page container for centering the spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/* Spinner styles */
.spinner {
  border: 8px solid rgba(229, 231, 235, 1); /* Light gray border */
  border-top: 8px solid #7c3aed; /* text-violet-600 */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
